@import 'variables';
// 
.btn {
    border-radius: 75px;
    padding-left: 25px;
    padding-right: 25px;
}

* {
    font-family: 'Roboto', sans-serif;
}

// home section
.home-section {
    nav {
        background-color: $main_blue !important;
        ul {
            li {
                margin-right: 28px;
                &:last-child {
                    margin-right: 0;
                }
            }
            .btn {
                color: $light_blue;
                border-color: $light_blue;
                &:hover {
                    background-color: $light_blue;
                    color: #fff;
                }
            }
        }
    }
    .home-content {
        max-height: 700px;
        background-color: $main_blue !important;
        background-image: url('../img/graph.png'), url('../img/mesh.png');
        background-repeat: no-repeat, no-repeat;
        background-size: contain, contain;
        h4 {
            color: $home_content_h4;
        }
        .btn {
            background-color: $light_blue;
            border-color: $light_blue;
            &:hover {
                background-color: darken($light_blue, 6);
                border-color: darken($light_blue, 6);
                ;
            }
        }
        img {
            -webkit-box-shadow: -7px -11px 122px -6px rgba(85, 133, 255, 0.196);
            -moz-box-shadow: -7px -11px 122px -6px rgba(85, 133, 255, 0.196);
            box-shadow: -7px -11px 122px -6px rgba(85, 133, 255, 0.196);
        }
    }
}

//features section
#features {
    padding-top: 10em;
    .col-md-4 {
        img {
            max-width: 18%;
            max-height: 18%;
            position: relative;
        }
        h5 {
            font-weight: 700;
            color: $main-blue;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                height: 0.1em;
                border-top: 0.01em solid $home_content_h4;
                top: -1em;
                left: 14.2em;
                width: 8em;
            }
        }
        p {
            color: $home_content_h4;
            font-size: 1em;
        }
        a {
            color: $main-blue;
            font-weight: 700;
            border: 1px solid $home_content_h4;
            padding-left: 4em;
            padding-right: 4em;
            &:hover {
                background-color: transparent;
                color: $light-blue;
                border-color: $light-blue;
            }
        }
    }

    //hide last border from features section
    .last {
        h5:after {
            content: "";
            border: none;
        }
    }
}

@import 'responsive';